//subnav-branco
.sub-navbar-desktop {
  background: $branco;
}
.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 249px;
  height: 38px;
  display: block;
}
//transition itens menu branco
.itens-sub-nav div span,
.itens-sub-nav div a,
.itens-sub-nav a span {
  transition: color 0.3s;
  transition: background-image 0.3s;
}

.sub-navbar-desktop {
  span {
    margin: 0 8px;
    width: 30px;
  }
  :hover {
    color: $verde;
  }
  //redes sociais ajustes e hover
  .youtube {
    margin-right: 12px;
    background-image: url(../img/icons/youtube.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    &:hover {
      background-image: url(../img/icons/youtube-hover.svg);
    }
  }
  .facebook {
    margin-right: 12px;
    background-image: url(../img/icons/facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    &:hover {
      background-image: url(../img/icons/facebook-hover.svg);
    }
  }
  .instagram {
    margin-right: 12px;
    background-image: url(../img/icons/instagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    &:hover {
      background-image: url(../img/icons/instagram-hover.svg);
    }
  }
}

//dropdown
.dropdown {
  .btn-dropdown {
    font-size: 14px;
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: $verde;
    }
    //bordas ao lado drop linguagem
    border-left: 1px solid $cinza-claro;
    border-right: 1px solid $cinza-claro;
    margin: 0 10px;
    padding: 0 10px;
  }
}
.dropdown-menu {
  z-index: 1040;
}

// encomendas
.encomendas {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid $cinza-claro;
  padding-right: 15px;
  &:hover {
    .icon-encomendas {
      background-image: url(../img/icons/carrinho-hover.svg);
    }
  }

  .icon-encomendas {
    background-image: url(../img/icons/carrinho.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
  }
}
//minha conta
.minha-conta {
  font-size: 14px;
  font-weight: 500;
  padding-right: 15px;
  padding-left: 10px;
  .minha-conta-link {
    &:hover {
      .icon-conta {
        background-image: url(../img/icons/perfil-hover.svg);
      }
    }
  }

  .icon-conta {
    background-image: url(../img/icons/perfil.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
    vertical-align: middle;
    display: inline-block;
  }
  .favoritas {
    background-image: url(../img/icons/coracao.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    position: relative;

    &:hover {
      background-image: url(../img/icons/coracao-hover.svg);
    }
  }
  .sacola {
    background-image: url(../img/icons/sacola.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    transition: 0.3s;
    margin-bottom: 2px;
    position: relative;
    &:hover {
      background-image: url(../img/icons/sacola-hover.svg);
    }
  }
}
//notificações
.badge {
  display: none;
  background: $verde;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -12px;
  right: -12px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: $branco;
  &:hover {
    color: $branco;
  }
}
//classe ativo mostra a badge
.ativo.badge {
  display: inline-flex;
}

.mobile .sub-navbar-desktop {
  display: none;
}

//menu mobile
.desktop .sub-navbar-mobile {
  display: none;
}
.mobile .sub-navbar-mobile {
  display: block;
  background: $branco;
  .logo {
    background-image: url(../img/logo-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 174px;
    height: 28px;
    display: block;
  }
  .sacola {
    margin: 0 10px;
  }
  .icon-conta {
    width: 20px;
    height: 20px;
  }
  //aumentar zona de toque mobile
  a {
    padding: 10px 10px;
  }
  .sacola-link {
    padding: 10px 10px;
  }
}

//navbar verde
.navbar-desktop {
  margin-top: 54px;
  background: $verde;
  padding: 6px 0;
  @include d(m) {
    padding: 10px 0;
  }
}
.mobile .navbar-desktop {
  margin-top: 44px;
}

//dropdown categorias
//classe que segura todos drop
.navbar-desktop {
  .navbar-collapse {
    transition: 0.3s;
    background: $branco;
    position: relative;
    a:hover {
      color: $verde;
    }
  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }

  .navbar-collapse::before {
    @include d(m) {
      display: none;
    }
    content: "";
    background-image: url("../img/icons/hamburg-categoria.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 15px;
  }
  .navbar-collapse:hover {
    .dropdown-toggle {
      color: $verde;
    }
    &:before {
      background-image: url("../img/icons/hamburg-hover.svg");
    }
    &:after {
      background-image: url("../img/icons/setinha-hover.svg");
    }
  }
  .navbar-collapse {
    transition: 0.3s;
    //taamanho do botao categorias é dado pelo padding nos As
    a {
      padding: 10px 90px;
      display: block;
      @include d(m) {
        padding: 10px;
        padding-right: 110px;
        padding-left: 15px;
      }
      text-align: start;
    }
  }
  @keyframes descida {
    0% {
      opacity: 0;
      clip-path: inset(0 0 100% 0);
      transform: translateY(-37px);
    }
    100% {
      opacity: 1;
      clip-path: inset(0 0 0 0);
      transform: translateY(37px);
    }
  }
  @keyframes descidaMenu {
    0% {
      opacity: 0;
      clip-path: inset(0 0 100% 0);
    }
    100% {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
  @keyframes subidaMenu {
    100% {
      transform: translateY(-200%);
    }
  }
  //setinha de categorias
  .navbar-collapse::after {
    content: "";
    background-image: url("../img/icons/setinha.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 7px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 17px;
  }
  //menu aberto do dropdown
  .dropdown-menu {
    width: 100%;
    animation: descida 0.5s ease both;
    border: none;
    margin-top: -4px;
    font-size: 14px;

    a {
      cursor: pointer;
      padding: 6px 15px;
      @include d(s) {
        padding: 5px 15px;
      }
    }
    //botoes dentro das secoes
    button {
      color: rgb(79, 79, 79);
      &:hover {
        color: $verde !important;
        text-decoration: underline;
      }
    }
  }
  .dropdown-menu.show {
    transition: 0.3s ease !important;
  }

  .item-accordion {
    position: relative;
    display: inline-block;
    //setinha dos items
    &:after {
      content: "";
      background-image: url("../img/icons/setinha.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 7px;
      display: inline-block;
      right: 10px;
      top: 17px;
      position: absolute;
    }
  }
  //items abertos
  .collapse {
    background: rgb(245, 245, 245);
    padding: 5px 0;
  }
}

.navbar-desktop.fixed-top {
  z-index: 2;
}

//menu do meio

.menu-items {
  @include d(m) {
    display: none;
  }
  ul li a {
    transition: 0.3s;
    margin-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: $branco;
    &:hover {
      color: black;
    }
  }
}

//busca e estilos
.busca {
  @include d(m) {
    display: none;
  }
  input {
    background: transparent;
  }
  .form-control {
    border-radius: 0;
    border: 1px solid $cinza-claro;
  }
  ::placeholder {
    color: $branco;
    font-size: 12px;
    vertical-align: middle;
  }
  max-width: 300px;
  .btn-secondary {
    background: $branco;
    color: $black;
    font-size: 12px;
    &:before {
      content: "";
      display: inline-block;
      background-image: url(../img/icons/lupa.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 13px;
      height: 13px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
//hamburguer icon dispara menu mobile

.desktop .menu-mobile {
  display: none;
}
.menu-open .menu-mobile {
  display: block;
}
.menu-closed .menu-mobile {
  display: none;
}
.desktop .hamburguer {
  display: none;
}
.mobile .hamburguer {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  &:before {
    content: "";
    display: inline-block;
    background-image: url(../img/icons/hamburguer-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 2px;
    vertical-align: middle;
  }
}

.menu-mobile {
  position: absolute;
  top: 0;
  background: $verde;
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 50px;
  animation: descidaMenu 0.5s ease both;

  li {
    margin-top: 20px;
    a {
      color: $branco;
      font-weight: 700;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}
