$branco: #fbfbfb;
$cinza-claro: #d8d8d8;
$azul: #00a3da;
$preto-claro: #363636; //imports bootstrap
//comentados os features que n estão sendo usados
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type"; //pegando algumas margins
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid"; //usado colunas e row
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
//@import "bootstrap/nav";
//@import "bootstrap/navbar";
@import "bootstrap/card";
//@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
//@import "bootstrap/alert";
//@import "bootstrap/progress";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/close";
//@import "bootstrap/toasts";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
@import "bootstrap/carousel";
//@import "bootstrap/spinners";
@import "bootstrap/utilities"; //usado para alinhamento de textos e etc
//@import "bootstrap/print";

//imports do projeto
@import "reset";
@import "responsivo";
@import "menu";
@import "animacoes";
@import "footer";
@import "carousel";

body {
  font-family: "Montserrat", sans-serif;
  background: #fbfbfb;
  overflow-x: hidden;
}
.container {
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  max-width: 1320px;
}
footer {
  margin-top: 0;
}

.space-menu {
  height: 104px;
  max-width: 100%;
}
a {
  transition: 0.3s;
  &:hover {
    color: black;
  }
}

.sobre-container {
  margin-top: 80px;
  margin-bottom: 160px;
}
.mobile .sobre-container {
  margin-top: 30px;
  margin-bottom: 100px;
}

.carousel {
  margin-top: 10px;
}
.text-sobre {
  h2 {
    color: #00a3da;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
  p {
    color: #8a8a8a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    max-width: 550px;
  }
}
.mobile {
  .text-sobre {
    p {
      font-size: 14px;
    }
  }
}
