$branco: #fbfbfb;
$cinza-claro: #d8d8d8;
$azul: #00a3da;
$preto-claro: #363636; //imports bootstrap
//comentados os features que n estão sendo usados
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type"; //pegando algumas margins
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid"; //usado colunas e row
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
//@import "bootstrap/nav";
//@import "bootstrap/navbar";
@import "bootstrap/card";
//@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
//@import "bootstrap/alert";
//@import "bootstrap/progress";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/close";
//@import "bootstrap/toasts";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
@import "bootstrap/carousel";
//@import "bootstrap/spinners";
@import "bootstrap/utilities"; //usado para alinhamento de textos e etc
//@import "bootstrap/print";

//imports do projeto
@import "reset";
@import "responsivo";
@import "menu";
@import "animacoes";
@import "footer";
@import "carousel";

body {
  font-family: "Montserrat", sans-serif;
  background: #fbfbfb;
  overflow-x: hidden;
}
.container {
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  max-width: 1320px;
}

.space-menu {
  height: 104px;
  max-width: 100%;
}
a {
  transition: 0.3s;
  &:hover {
    color: black;
  }
}
footer {
  margin-top: 0;
}

.receita-container {
  .mapa {
    display: flex;
    align-items: center;
    height: 20px;
    @include d(s) {
      flex-direction: column;
      align-items: flex-start;
    }
    p {
      color: $azul;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      vertical-align: middle;
      margin-left: 10px;
    }
    a {
      color: #b7b7b7;
      padding: 0 10px;
      border-right: 1px solid #b7b7b7;
      display: inline-block;
      vertical-align: middle;
      @include d(s) {
        border: none;
        margin-bottom: 5px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  margin-top: 30px;
  .row {
    margin-top: 60px;
  }
}

.detalhes {
  align-self: flex-end;
  span {
    color: #b7b7b7;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
    display: inline-block;
  }
  h2 {
    color: $azul;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
  }
  p {
    color: #8a8a8a;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
  }
}

.parte-2 {
  background: #f6f6f6;
  margin-top: 80px;
  padding: 20px 0;
  padding-bottom: 120px;
  .ingredientes {
    align-self: flex-start;

    .segura {
      max-width: 300px;
      margin-left: auto;
    }
    h2 {
      color: #00a3da;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px;
    }
    ul li {
      color: #8a8a8a;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px;
    }
  }
  .preparacao {
    align-self: flex-start;
    h2 {
      color: #00a3da;
      font-size: 16px;
      font-weight: 500;
      line-height: 40px;
      text-transform: uppercase;
    }
    p {
      color: #8a8a8a;
      font-size: 15px;
      font-weight: 500;
      line-height: 32px;
    }
  }
}

.mobile {
  .receita-container {
    margin-top: 10px;
  }
  .parte-2 {
    margin-top: 30px;
  }
  .row {
    justify-content: center;
  }
  .image {
    order: 1;
    margin-top: 10px;
  }
  .detalhes {
    order: 2;
    h2 {
      font-size: 20px;
    }
    span {
      margin: 10px 0;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
  .ingredientes {
    margin: 20px 0;
    .segura {
      margin-left: 0;
    }
  }
}
